
<div class="card text-white bg-dark mb-3 border-primary">

<div class="row  d-flex justify-content-center align-items-center vh-50">
<div class="col" style="margin-left: 30px">

     <a href="https://discord.gg/eudgefX4" target="_blank" ><img src="/img/discord-icon.svg" height=100px class="card-img-top" alt="discord adresi"></a>

</div>

<div class="col" style="margin-right: 30px">
     <a class="no-underline" target="_blank" href="https://discord.gg/eudgefX4">
     <h4 style="text-align: center" class="text-center">
Discord Serveri

          </h4>
</a>
</div>
</div>

</div>
