<nav class="navbar shadow navbar-expand-lg navbar-dark bg-dark py-3 fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand brand-outline fw-bold" href="/">Torrent<span class="text-secondary">Oyun</span>Yukle</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Əsas səhifə</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/nece-yukleyek">Necə Yükləyək?</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Blog</a>
        </li>
        {{#if admin}}
        <li class="nav-item">
          <a class="nav-link" href="/admin">Admin Panel</a>
        </li>
        {{/if}}
      </ul>
      <form action="/axtar" method="get" class="d-flex">
        <input {{#if search}}value="{{search}}"{{/if}} class="form-control search-bar me-2" name="oyun" type="search" placeholder="Oyun axtar" aria-label="Search">
       <button class="btn btn-outline-primary search-button" type="submit">Axtar</button>
      </form>
    </div>
  </div>
</nav>