<!DOCTYPE html>
<html>
<head>
</head>

<body>
      <div class="card text-white bg-dark mb-3 border-primary">
  <div class="card-body">
Səhifəyə yönləndirilirsiniz. Discorda qoşulmaq üçün <a href="https://discord.gg/eudgefX4">buraya klikləyin</a>.

  </div>
</div>
</body>
</html>
